<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= user_path(@user) %>>Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% for course in @user.courses %>
              <li><a href=<%= course_path(course) %>><%= course.title %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      
      <%= form_tag '/sessions/signout', class: "navbar-form navbar-right", method: :post do %>
         <%= button_tag 'Sign Out', {class: 'btn btn-default'} %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>