<%= render "shared/navbar" %>

<div class="container">
  <%= link_to 'Add Course', '/courses/new', {class: 'btn btn-primary'} %>
  
  <div class="row">
    <% for course in @courses %>
      <div class="col-xs-4 card">
        <div class="inner-card">
          
          <ul class="list-unstyled">
            <li><h4 class="less-margin"><%= course.title %></h4></li>
            <li><%= course.code %></li>
          </ul>
          
          <ul class="list-unstyled">
            <li><b>Instructor</b> <%= course.instructor %></li>
            <li><b>Location</b> <%= course.location %></li>
            <li><b>Credits</b> <%= course.credits %></li>
          </ul>
          
          <%= link_to "Notes", course_path(course), class: "btn btn-default btn-sm" %>
          <%= link_to "Edit", edit_course_path(course), class: "btn btn-default btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>